.curve{
    background-image: url('../img/curved14.jpg');
}
.icon-lg{
    width: 64px;
    height: 64px;
}
hr.horizontal.dark {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent);
}
.navlink{
    text-decoration: none;
    color: #fff;
}
.btn .btn-link{
    box-shadow: none;
    font-weight: 700;
}
.text-gradient.text-danger {
    background-image: linear-gradient(310deg, #dc2626, rgb(239.8, 108.6, 173.4)) !important;
}
.item{
    background-color:#F3F4F6;
    border-radius: 10px;
}

.btn-icon-only {
    width: 1.5875rem;
    height: 1.5875rem;
    padding: .3rem;
    border-radius: 50px;
}

.navlink{
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}
