.nav.navbar-vertical.navbar-expand-xs.fixed-start {
  left: 0;
}

.navbar-vertical.navbar-expand-xs {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 15.625rem !important;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
}

.sidenav-header {
  height: 4.875rem;
  display: flex;
  align-items: center;
}

.sidenav .navbar-brand {
  padding: 1.5rem 1rem;
}

.navbar .navbar-brand {
  color: #27272a;
}

.navbar-brand-img {
  max-width: auto;
  height: 2rem;
}

hr.horizontal-dark {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4),
    transparent
  );
}
hr.horizontal {
  background-color: transparent;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
  display: block;
  /* overflow: auto; */
  height: calc(100vh - 360px);
}
.navbar-vertical .navbar-nav {
    flex-direction: column !important;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-item {
    width: 100%;
    margin-top: .125rem;
}
.nav-item .nav-link.active {
    color: #27272a;
    background-color: #fff;
}
 .navbar-nav .nav-link.active {
    font-weight: 600;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    border-radius: .75rem;
}
  /* .nav-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0 1rem;
}  */
 .nav-link .icon { 
    display: flex;
    align-items: center;
}
.icon {

  background-image: linear-gradient(310deg, #f97316, #f97316);
  color: #fff;
}
.nav-link{
  color: #27272a;
}
.nav-link:hover{
  color: #27272a;
}

.border-radius-md{
    border-radius: .5rem;
}
.icon-sm{
    width: 32px;
    height: 32px;
}
.icon-shape{
    background-position: 50%;
}
.nav-link-text {
    transition: .3s ease;
    opacity: 1;
}
.sign-up img{
  background-image: linear-gradient(310deg, #f97316, #f97316);
  color: #fff !important;
}